<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h4>FAQ</h4>
			<div class="panel-group" id="accordion">
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How do I get started?</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse">
						<div class="panel-body">
							Instructions are provided on the homepage of the app. You will need a photo of your dog and an idea of when you lost him or her.
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">When will I get my search results?</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">
							The amount of time it takes to search for your dog depends on a few things, such as the amount of results you desire, how many Facebook URLs you provided, the date you lost your pet, and how many other people are using the site. Remember, you can bookmark your search URL and come back to it later. If you think your results were lost, you can try to search again.
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">I'd like to contribute to this project</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
						<div class="panel-body">
							We welcome contributions, however, we signed an intellectual property agreement with Penn State University during the fall of 2013. This agreement may prevent you from using our source code. If you'd like to view the project, we use github for version control. Our repository is at github.com/TeamDogFace.
						</div>
					</div>
				</div>

			</div>			
		</div>
	</div>
</div>