body {
	padding-top: 70px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p, ol, ul, td {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center-block{
	float: none;
}

.logo {
	width: 30px;
}

#steps {
	display: none;
}

.step{
	
}

.preview{

}

#img-preview{
	float: none;
	margin: 0 auto;
	max-width: 100%;
}

.invis{
	opacity: 0;
}

.jumbotron{
	background-color: rgba(0,0,0,0);
	color: #eee;
	text-align: center;
}

.navbar-tweak{
	top: -72px;
	background-color: rgba(248, 248, 248, 0.6);
	border-color: rgba(231, 231, 231, 0.6);
}

a.btn:visited{
	color: #fff
}
